html,body{
    max-height: 100%;
    max-width: 100%;
    background-color: green;
}
#content{
    display: flex;
    flex-direction: row;
}
#main-content{
    width: 75%;
    border-style: solid;
}
#extras{
    background-color: white;
    border-style: dashed;
    width: 25%;
}